body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F7FA;
}

.container {
    max-width: 375px;
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-button img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.time {
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
    color: #000;
}

.patient-info {
    display: flex;
    align-items: center;
    background-color: #f9fbfd;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.patient-image {
    width: 60px; /* 限制div的宽度为60px */
    height: 60px; /* 限制div的高度为60px */
    overflow: hidden; /* 确保内容不会超出div的边界 */
}

.patient-image img {
    width: 100%; /* 图片宽度适应div宽度 */
    height: 100%; /* 图片高度适应div高度 */
    object-fit: fill; /* 确保图片填充整个div，保持内容不失真 */
    border-radius: 10px; /* 如果你想要图片的边缘是圆角的 */
}

.patient-details {
    margin-left: 15px;
    flex-grow: 1;
}

.patient-details h2 {
    margin: 0;
    font-size: 14px;
    color: #2B64F1;
    font-weight: 600;
}

.patient-details p {
    margin: 2px 0;
    font-size: 12px;
    color: #333;
}

.dropdown {
    margin-top: 8px;
    background-color: #007bff;
    color: #fff;
    padding: 6px 10px;
    border-radius: 15px;
    font-size: 12px;
    display: inline-block;
}

section {
    margin-top: 20px;
}

section h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
}

.mood-stats, .diet-icons, .sleep-stats, .exercise-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.mood-stats img, .diet-icons img, .sleep-stats img, .exercise-stats img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
