body {
    font-family: Arial, sans-serif;
    background-color: #3A3F51;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #F7F8FB;
    padding: 30px 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 360px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center; /* 确保所有内容居中对齐 */
}

.logo img {
    margin: 0 auto;
    width: 100%; /* 设置Logo为容器宽度 */
    max-width: 360px; /* 使Logo占据容器的整个宽度 */
    height: auto;
    margin-bottom: 20px; /* 增加底部的间距，使内容与Logo之间有合理的空白 */
}

.login-form {
    margin-bottom: 20px;
    text-align: left; /* 表单内容左对齐 */
}

.login-form label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #dcdcdc;
    font-size: 16px;
    box-sizing: border-box; /* 确保 padding 不影响宽度 */
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.sign-in-btn {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.sign-in-btn:hover {
    background-color: #0056b3;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #707070;
}

.divider hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #dcdcdc;
}

.divider span {
    margin: 0 10px;
    font-size: 14px;
    color: #707070;
}

.contact-admin {
    font-size: 14px;
    color: #707070;
}

.contact-admin a {
    color: #FF4B4B;
    text-decoration: none;
}

.contact-admin a:hover {
    text-decoration: underline;
}

.forgot-password {
    font-size: 12px;
    color: #707070;
    text-decoration: none;
    float: right;
}

.forgot-password:hover {
    text-decoration: underline;
}
