.category-section {
  height: 8rem;
  margin: .5rem .5rem 0 .5rem;
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.filter-section {
  margin: .5rem .5rem 0 .5rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

.category-container {
  width: calc(25% - .5rem);
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  color: #242E49;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-container.ownership {  
  background-color: #CCF0EB;
}

.category-container.professional {
  background-color: #E0D4FC;
}

.category-container.certification {
  background-color: #FCD7D4;
}

.category-container.training {
  background-color: #D4DFFC;
}


.category-container span{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
}

.list-name {
  font-size: 2rem;
  margin: .5rem;
}

/* Container for the search input */
.search-container {
  position: relative;
  flex: auto;
  width: 25rem; /* Adjust width as needed */
  display: flex;
  height: 3rem;
  flex-direction: column;
}

/* Styling for the input field */
.search-input {
  width: 100%;
  height: 3rem;
  padding: 10px 15px 10px 40px; /* Padding to accommodate icon */
  border: 1px solid #d9d9d9; /* Light grey border */
  border-radius: .5rem; /* Rounded corners */
  font-size: 1rem; /* Font size */
  color: #ADB5BD; /* Grey text color */
  background-color: #fff; /* Light grey background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  outline: none; /* Remove default outline */
  background-image: url('/assets/search.png'); /* Path to search icon image */
  background-repeat: no-repeat; /* Prevent repeating the icon */
  background-size: 20px; /* Size of the icon */
  background-position: 10px center; /* Position icon inside input */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Input focus state */
.search-input:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.2); /* Blue shadow on focus */
}

.search-input::placeholder {
  color: #ADB5BD; /* Lighter grey color for the placeholder */
  font-size: 1rem; /* Font size of the placeholder */
  opacity: 1; /* Ensures consistent color across browsers */
}


.filter-bar {
  flex: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 3rem;
  border-radius: .5rem;
  padding: 10px;
  margin-left: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Individual filter item */
.filter-item {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 5px 10px;
  border-right: 1px solid #ddd;
  text-align: center;
  align-items: center;
  height: 1.9rem;
}

.filter-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url('/assets/eglass-filter.png'); /* Normal state icon */
  background-size: cover;
  background-position: center;
}

.filter-item:last-child {
  border-right: none; /* Remove border from the last item */
}

/* Default icon styling */
.reset-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url('/assets/reset_line_normal.png'); /* Normal state icon */
  background-size: cover;
  background-position: center;
}

/* Default text styling */
.reset-filter .reset-text {
  font-weight: 600;
  color: #333; /* Normal text color */
}

/* Active state styling for the reset filter */
.reset-filter.active {
  color: #EA0234; /* Change text color when active */
}

/* Active state for the icon */
.reset-filter.active .reset-icon {
  background-image: url('/assets/reset_line.png'); /* Active state icon */
}

.reset-filter.active .reset-text {
  color: #EA0234; /* Change text color when active */
}

/* Hover effect for reset filter */
.reset-filter:hover {
  color: #d32f2f; /* Darker red on hover */
}

/* Styling for the select element */
.filter-select {
  font-size: 16px;
  color: #333; /* Default text color */
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  appearance: none; /* Remove default arrow */
  background: none;
  background-image: url('/assets/down.png'); /* Custom arrow icon */
  background-repeat: no-repeat;
  background-position: right 0px center; /* Position arrow icon */
  background-size: 2rem; /* Size of the arrow icon */
  cursor: pointer;
  width: 100%; /* Adjust width as necessary */
  box-sizing: border-box;
  border: none;
}

.dropdown {
  position: relative;
  flex: 1;
  font-family: Arial, sans-serif;
  border: none;
  width: 135px;
}

.dropdown-selected {
  padding: 10px;
  font-size: 14px;
  width: 100%;
  color: #333;
  text-align: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-selected::after {
  content: '▼'; /* Arrow icon */
  font-size: 12px;
  color: #666;
  margin-left: 10px;
}

.dropdown-options {
  display: none; /* Hidden by default */
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  text-align: left;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure it stays on top */
}

.dropdown-option {
  padding: 10px;
  font-size: 14px;
  width: 100%;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-option:hover {
  background-color: #e6f7ff; /* Light blue on hover */
}

.dropdown-option:disabled {
  color: #bfbfbf; /* Light grey text for disabled options */
  background-color: #f5f5f5; /* Light grey background for disabled options */
  cursor: not-allowed;
}

/* Styling for the focus state */
.filter-select:focus {
  border: none; /* Blue border on focus */
  outline: none; /* Remove default outline */
}

.therapist-table-container {
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: .875rem;
  margin: .5rem .5rem 0 .5rem;
  height: calc(100vh - 25.5rem);
}

.styled-table tbody {
  height: calc(100% - 3rem); /* Adjust this based on the height of the thead */
  overflow-y: auto; /* Enables vertical scrolling */
  flex: 1 1 auto; /* Allows tbody to take available space */
}


