/* 基本样式 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* 容器样式 */
.container {
    padding: 2vw;
    overflow-y: auto;
    margin-top: 0vh; 
}

/* 各部分标题 */
.section h2 {
    font-size: 4vw;
    margin-bottom: 1vh;
    color: #333;
}

/* 图片样式 */
.section img {
    width: 100%;
    height: auto;
    margin-bottom: 2vh;
    border-radius: 2vw;
}


/* Mood Distribution部分样式 */
.mood-distribution {
    margin-top: 10vh; 
    margin-bottom: 1vh; /* 减少底部外边距 */
}


/* 饮食状态部分样式 */
.diet-status .diet-icons {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 2vw;
    padding: 2vw;
    margin-bottom: 2vh;
    margin-top: 1vh; /* 减少顶部外边距以减少间距 */
    padding-top: 0;  /* 确保没有额外的内边距 */
}

.diet-icons img {
    width: 15vw;
    height: auto;
    border-radius: 1vw;
}

/* 治疗师部分样式 */
.therapist-info {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2vw;
    padding: 2vw;
}

.therapist-info img {
    width: 20vw;
    height: auto;
    border-radius: 50%;
    margin-right: 2vw;
}

.session-info {
    flex: 1;
}

.session-info h3 {
    font-size: 3.5vw;
    color: #4b4b4b;
}

.session-info p {
    font-size: 2.5vw;
    color: #6e7d8a;
    margin: 1vh 0;
}

.book-now {
    margin-left: 2vw; /* 向右移动一定距离 */
    padding: 0.5vh 0; /* 增加上下内边距 */
    line-height: 1.5; /* 调整行高以避免裁剪 */
    margin-left: 20vw;
}

.book-now img {
    width: 25vw;
    height: auto;
}

/* 底部导航栏 */
.bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0066ff;
    padding: 1vh 0;
}

.bottom-nav img {
    width: 100%;
    height: auto;
}
