/* 基本样式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 0;
    overflow: hidden; /* 防止溢出滚动 */
}

/* 容器样式 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* 改为 space-between 以使内容上下间距更大 */
    width: 100%;
    height: 100%;
    padding: 5vh 0; /* 增加上下内边距 */
    background-color: #ffffff;
}

/* 标志样式 */
.logo img {
    width: 40vw; /* 将图标宽度调整为视口宽度的40% */
    max-width: 200px; /* 增加最大宽度为200像素 */
    margin-bottom: 10vh; /* 增加底部间距 */
}

/* 欢迎信息样式 */
.welcome-message h1 {
    font-size: 8vw; /* 增大字体尺寸为视口宽度的8% */
    color: #333;
    margin-bottom: 5vh; /* 使用视口高度进行相对调整 */
    line-height: 1.2; /* 减小行高确保间距 */
}

.highlight {
    color: #007bff; /* 蓝色文字 */
    font-weight: bold;
    display: block; /* 让 "CaRe" 在新行上显示 */
}

/* 插图样式 */
.illustration img {
    width: 90vw; /* 使用视口宽度进行相对调整 */
    height: auto;
    max-height: 50vh; /* 确保图像不会超出视口高度的一半 */
    object-fit: contain; /* 确保图像比例适应 */
}
