body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
}

/* 通用模块样式 */
.module {
    margin-bottom: 2vh; /* 缩小模块之间的间距 */
}

/* Dropdown Button */
.dropdown {
    position: relative;
    width: 80%;
    margin: 0 auto 2vh; /* 缩小间距 */
}

.dropdown-button {
    display: block;
    width: 100%;
    border-radius: 1vw;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mood-record {
    margin-top: 15vh; /* 向上增加15个单位的垂直空白 */
}

/* Mood Record Section */
.mood-record img {
    width: 100%;
    margin-bottom: 2vh; /* 缩小间距 */
}

/* Mood Distribution Section */
.mood-distribution img {
    width: 100%;
    margin-bottom: 2vh; /* 缩小间距 */
}

/* Home Bar Section */
.home-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.home-bar img {
    width: 100%;
    display: block;
}
