body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Bar Styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 3rem; /* 48px */
  min-height: 3rem; /* Minimum height of 48px */
  padding: 0 1rem; /* Padding around the content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Logo styles */
.nav-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 2.5rem; /* Set height for logo */
  width: auto; /* Keep aspect ratio */
}

/* Nav items styles */
.nav-items {
  display: flex;
  align-items: center;
  gap: 1rem; /* Space between nav items */
}

.icon {
  width: 1.5rem; /* Size of icons */
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: currentColor;
}

.notification-icon img,
.message-icon img {
  width: 100%;
  height: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between avatar and text */
}

.user-avatar {
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  border-radius: 50%;
  object-fit: cover;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-name {
  font-size: 1rem; /* Font size for name */
  color: #333;
  font-weight: bold;
}

.user-role {
  font-size: 0.875rem; /* Slightly smaller font for role */
  color: #999;
}

/* Side Menu Styles */
.side-menu {
  width: 14rem; /* Width for side menu */
  position: fixed;
  top: 3rem; /* Start below the navbar */
  left: 0;
  bottom: 0;
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* Shadow on the right side only */
  padding: 1rem 0;
  margin-top: 0.1rem; /* Small margin at the top */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all content horizontally */
}
nav {
  width: 100%;
}
nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Make sure ul takes full width of the side menu */
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  height: 2.75rem; /* 44px converted to rem */
  padding: 0.5rem 1rem;
  margin: 0.25rem auto; /* Center the menu item and add some vertical space */
  cursor: pointer;
  transition: background-color 0.3s, border-radius 0.3s; /* Smooth transition */
  text-align: center;
  border-radius: 0.5rem; /* Add border-radius */
  width: 90%;
  color: #8A92A6;
}

.menu-item:hover {
  background-color: #eaf2fe; /* Hover effect */
}


.menu-icon,
.menu-arrow {
    width: 1.5rem; /* Fixed width for icons */
    height: 1.5rem; /* Fixed height for icons */
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-text {
    flex-grow: 1; /* Text takes up the remaining space */
    font-size: 1rem;
    color: #666;
    text-align: left; /* Align text to the left */
    padding: 0 0.5rem; /* Padding to prevent text from touching icons */
}

.menu-divider {
  width: 80%; /* Divider width set to 80% of its parent */
  margin: 1rem auto; /* Centers the divider horizontally */
  border: none;
  border-top: 1px solid #ddd; /* Visual style of the divider */
}

/* Group Title Styles */
.menu-group-title {
  display: block;
  font-size: 0.875rem; /* Slightly smaller font size */
  color: #aaa; /* Light color for subtle emphasis */
  margin: 1rem 1rem 0.5rem 1rem; /* Top margin for space, bottom margin for spacing from items */
  text-transform: uppercase; /* Optional: Makes text uppercase for clear differentiation */
  font-weight: bold; /* Bold to stand out */
  text-align: left; /* Center the text within the side menu */
}

/* Active Menu Item Styles */
.menu-item.active {
  background-color: #0F67FE; /* Updated background color for active state */
  border-left: 4px solid #1a73e8; /* Blue border on the left for visual emphasis */
  color: #fff; /* White text for contrast */
  border-radius: 0.25rem; /* Rounded corners for active state */
}

.menu-item.active .menu-icon,
.menu-item.active .menu-text,
.menu-item.active .menu-arrow {
  color: #fff; /* Ensure icons and text are white for active state */
}


/* Bottom Info Bar */

.bottom-info {
  display: flex;
  align-items: center;
  bottom: 0;
  background-color: #fff;
  height: 2.9rem; /* 48px */
  min-height: 2.9rem; /* Minimum height of 48px */
  padding: 0 1rem; /* Padding around the content */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: absolute;
  width: calc(100% - 14rem - 2px);
  right: 0;
}

.bottom-info span{
  cursor: pointer;
}

.content {
  margin-left: 14rem;
  height: 100%;
}


.statistic-area {
  height: 8.5rem;
  display: flex;
  flex-wrap: wrap;  
  gap: 5px;
  background-color: transparent;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  justify-content: space-between;
}

.statistic-item {
  background-color: #fff;
  border-radius: .5rem;
  width: 24.6%;
  height: 100%;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
}

.statistic-item .progress {
  height: 6rem;
  width: 6rem;
  min-width: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.statistic-item .progress-value {
  width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    background: conic-gradient(
        #007bff calc(var(--percentage) * 1%), 
        #a0a0a0 0%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-container {
  height: 75%;
  display: flex;
  flex-direction: column;  
  text-align: left;
  gap: 1rem;
}

.status-container .title {
  font-size: 1rem;
  color: #8A92A6;
}

.status-container .number {
  font-size: 1.25rem;
  color: #232D42;
}

.status-container .rate {
  font-size: 1.25rem;
  color: #232D42;
  display: flex;
  align-items: baseline;
  gap: .5rem;
}

.rate .arrow {
  width: 0;
  height: 0;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-bottom: .75rem solid #00a86b;
}

.rate .arrow.down {
  width: 0;
  height: 0;
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-bottom: .75rem solid #00a86b;
  transform: rotate(180deg);
}


.progress-circle {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  background: conic-gradient(
        #007bff calc(var(--percentage) * 3.6deg), /* Blue part */
        #e0e0e0 calc(var(--percentage) * 3.6deg) /* Grey part */
    );
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-circle.green{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  background: conic-gradient(
        #08B1BA calc(var(--percentage) * 3.6deg), /* Blue part */
        #e0e0e0 calc(var(--percentage) * 3.6deg) /* Grey part */
    );
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-mask {
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.progress-mask .arrow-icon {
  font-size: 2rem;
  color: #007bff;
}

.text {
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

.value {
  font-size: 24px;
  font-weight: bold;
}

.percentage {
  font-size: 14px;
  color: #00a86b;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #00a86b;
  margin-left: 5px;
}


@media (max-width: 1520px) {
  .statistic-item {
    width: calc(50% - 1rem);
    margin-bottom: 10px;
  }
}

.charts-area {
  height: calc(100vh - 16rem);
  flex: 1;
  display: flex;
  gap: 5px;
  background-color: #f7f7f7;
  padding: .5rem 1.5rem 0 1.5rem;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: space-between;
}

@media (max-width: 1520px) {
  .charts-area {
    height: calc(100vh - 30rem);
  }
}

.left-content {
  flex: 2.8; /* Takes up 3 parts of the space */
 
  display: flex;
  flex-direction: column; /* Ensures content stacks vertically */
  justify-content: space-between;
  gap: 5px; /* Space between items within the left content */
  height: 100%;
}

.chart-section {
  background-color: #fff;
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
  flex: 1; /* Grow equally within the parent */
  height: 33%;
}

.calendar-section {
  background-color: transparent;
  flex: 1; /* Grow equally within the parent */
  display: flex;
  justify-content: space-between;
  gap: 5px;
  height: 33%;
}

.calendar {
  height: 100%;
  width: 100%;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
  flex: 0.4;
  font-family: 'Inter', sans-serif;
}


.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
}

.current-month {
  margin-left: 1.5rem;
}

.calendar-btn {
 display: flex; 
 margin-right: 1rem;
}

.prev-month, .next-month {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f0f1f3; /* Light grey background */
  border: none;
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.prev-month .icon {
  width: .8rem;
  height: .8rem;
}

.next-month .icon {
  width: .8rem;
  height: .8rem;
  transform: rotate(180deg);
}

.prev-month:hover, .next-month:hover {
  background: #e0e0e0; /* Slightly darker on hover */
}

.calendar-body {
  flex: 1;
  padding: 5px; /* Padding above days of week */
  display: flex;
  flex-direction: column;
}

.calendar-weekdays, .calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 10px; /* Space between rows */
  font-size: 14px;
}

.calendar-dates{
  flex: 1;
  margin-bottom: 0px; /* Space between rows */
  text-align: center;
}

.day {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px; /* Rounded corners */
  color: #555; /* Normal text color */
  font-size: .9rem;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.day:hover {
  background-color: #e0e1e3; /* Slight hover effect */
}

.day.selected {
  border-radius: .5rem; /* Rounded corners */
  background-color: #4a7aff; /* Blue background for selected state */
  color: #ffffff; /* White text color for selected state */
}

.calendar-dates button {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 auto;
  color: #202224;
  background: none;
  border: none;
  font-family: 'Inter', sans-serif;
}

.todo {
  
  padding: 1rem;
  height: 100%;
  max-height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
  flex: 1;
  overflow: hidden; /* Prevent overflow */
}

.todo-list {
  margin: 0 auto;
  height: 100%;
  max-height: 100%;
}

.todo-list h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.todo-list .care-scroll {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.todo-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  box-sizing: border-box;
  margin-right: 2%; /* Space between columns */
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid #4a7aff; /* Blue color for the circle */
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

.task-content {
  flex-grow: 1;
  cursor: pointer;
}

.task-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 7px;
}

.task-time {
  font-size: 14px;
  color: #666;
  margin: 5px 0 0 0;
}

.table-container {
  width: 90%;
  margin: 0 auto;
  overflow-x: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  font-size: .875rem;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  flex: 1 1 auto;
}

.styled-table .care-scroll {
  width: 100%;
  display: block;
  flex: 1 1 auto; /* Allows tbody to take available space */
  overflow-y: auto; /* Enables vertical scrolling */
  max-height: 100%; /* Ensure it stays within parent */
}

.styled-table th, .styled-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  font-size: .875rem;
  align-items: center;
}

.styled-table td {
  font-size: .875rem;
  align-items: center;
}

.styled-table th {
  font-weight: bold;
  background-color: #FCFDFD;
  border-bottom: 2px solid #ddd;
}

.styled-table tbody tr:hover {
  background-color: #f9f9f9;
}

.styled-table tbody tr td {
  vertical-align: center;
}

.styled-table tbody tr:last-child td {
  border-bottom: none;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: .3rem;
  font-weight: bold;
  text-align: center;
  width: 5rem;
  font-size: .75rem;
}

.online {
   background-color: #00b69b70;
  color: #00B69B;
}

.rest {
  background-color: #6226EF70;
  color: #6226EF;
}

.quit {
  background-color: #EF382670;
  color: #EF3826;
}



/* Optional: remove the margin from the last child to avoid extra spacing at the bottom */
.left-content .chart-section:last-child {
  margin-bottom: 0;
}

.right-content {
  flex: 1.2; /* Takes up 1 part of the space */
  border-radius: 0.5rem; /* Rounded corners */
  display: flex;
  flex-direction: column; /* Ensures content stacks vertically */
  gap: 5px; /* Space between items within the right content */
  height: 100%;
}

.diagnostic {
  height: calc(100% - 5px);
}

.new-patient {
  height: calc(100% - 23rem);
}

.diagnostic-chart {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.section-title {
  font-size: 1.1rem;
  margin-top: .5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.section-period {
  font-size: 0.9rem;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.circular-chart {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 1rem auto;
}

.circle-segment {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px solid #f0f0f0; /* Light background for the progress track */
  box-sizing: border-box;
}

.segment-blue {
  border-top-color: #007bff; /* Blue color for Insomnia */
  transform: rotate(calc(var(--percentage) * 3.6deg)); /* Outer ring percentage */
}

.segment-cyan {
  border-top-color: #00d4ff; /* Cyan color for Paranoea */
  transform: rotate(calc(var(--percentage) * 3.6deg)); /* Inner ring percentage */
  width: 80%; /* Adjust size for inner circle */
  height: 80%; /* Adjust size for inner circle */
  top: 10%; /* Center the inner circle */
  left: 10%; /* Center the inner circle */
}

.chart-inner-circle {
  width: 60%;
  height: 60%;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Optional: Inner shadow */
}

.diagnostic-legend {
  width: 60%;
  margin-top: 1rem;
  margin: 1rem auto;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.legend-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.blue {
  background-color: #007bff;
}

.cyan {
  background-color: #00d4ff;
}

.legend-value {
  color: #999;
}

.patient-list {
  margin: 1rem auto;
  width: 90%;
  height: calc(100% - 4rem);
  overflow-y: auto;
}

/* Custom Scrollbar Styling */
.care-scroll::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.care-scroll::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.care-scroll::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Blue color for the scrollbar handle */
  border-radius: 10px; /* Rounded corners for the scrollbar handle */
  visibility: hidden; /* Initially hidden */
}

/* Show scrollbar thumb only during scrolling */
.care-scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* Optional: Scrollbar visibility while scrolling */
.care-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* Darker blue when hovered */
}

.new-patients-section {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.patient-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.patient-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.patient-info {
  flex-grow: 1;
  text-align: left;
}

.patient-id {
  font-size: 0.9rem;
  font-weight: 600;
  color: #007bff;
}

.patient-id a {
  color: #007bff;
  text-decoration: none;
}

.patient-group {
  font-size: 0.8rem;
  color: #666;
}

.patient-menu {
  display: flex;
  align-items: center;
}

.copy {
  width: 20px;
  height: 20px;
  fill: #333;
  cursor: pointer;
}

.view-more {
  position: absolute;
  bottom: 3px;
  width: 90%;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  color: #999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin-top: auto; /* Pushes this element to the bottom of the container */
}

.view-more .dropdown-icon {
  font-size: 0.7rem;
}



